# Setting aliases for eza
alias l="eza --icons --group-directories-first"
alias ls="eza --icons --group-directories-first"
alias ll="eza -lg --icons --group-directories-first"
alias la="eza -lag --icons"
alias lt="eza -lTg --icons"
alias lh="eza -lTag --level=1 --icons --group-directories-first"
alias lt1="eza -lTg --level=1 --icons --group-directories-first"
alias lt2="eza -lTg --level=2 --icons --group-directories-first"
alias lt3="eza -lTg --level=3 --icons --group-directories-first"
alias lta="eza -lTag --icons --group-directories-first"
alias lta1="eza -lTag --level=1 --icons --group-directories-first"
alias lta2="eza -lTag --level=2 --icons --group-directories-first"
alias lta3="eza -lTag --level=3 --icons --group-directories-first"

# Setting aliases for yt-dlp
alias dvid='yt-dlp -f bestvideo[ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4] -o "%(title)s.%(ext)s"'
alias dwav='yt-dlp -x --audio-format wav'

# Setting aliases for lazydocker
alias lzd='lazydocker'